MONGO_URI=mongodb://localhost:27017/assignment

PORT=3000

ACCESS_TOKEN_SECRET=BERKJRERKJERNKDBKETBICLKSKJBG
ACCESS_TOKEN_EXPIRY=1d


REFRESH_TOKEN_SECRET=BERKJRJEFEJGJERKJERNKDBKETBICLKSKJBG
REFRESH_TOKEN_EXPIRY=10d

